<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://
mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.web.Dao.ProductDao">

	    <update id="BatchUpdateSellNum">  
	       
	       <foreach collection="list" item="item" index="index" separator=",">
	         update product SET sellnum=sellnum+#{item.BuyNum} WHERE id = #{item.id}
	       </foreach> 
	       
	    </update> 
	    
	    
</mapper>